html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 600px;
    top: 200px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 20px 70px;
    font-size: 24px;
    border: 1px solid #2d6898;
    background-image: linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);

    outline: none;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0, rgb(73, 132, 180)),
            color-stop(1, rgb(97, 155, 203)));
    border-radius: 5px;

    box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(bottom, rgb(79, 142, 191) 0%, rgb(102, 166, 214) 100%);
    background-image: -o-linear-gradient(bottom, rgb(79, 142, 191) 0%, rgb(102, 166, 214) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(79, 142, 191) 0%, rgb(102, 166, 214) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(79, 142, 191) 0%, rgb(102, 166, 214) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(79, 142, 191) 0%, rgb(102, 166, 214) 100%);

    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0, rgb(79, 142, 191)),
            color-stop(1, rgb(102, 166, 214)));
}

button:active {
    outline: none;
    -webkit-transform: translate(0, 4px);
    transform: scale(1.1);
    -webkit-transition: all .1s ease-in-out;
    transition: all .2s ease-in-out;
    box-shadow: inset 0px 4px 1px #7215a3, 0px 2px 0px 0px #6a1099, 0px 5px 3px #999;
    box-shadow: 0 0 0 3px rgb(79, 142, 191),
        0 0 0 1.5px rgb(102, 166, 214);
}